<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--定义命名空间-->
<mapper namespace="com.movie.www.mapper.FilmMapper">
    <!--id：属性等价于接口中的方法名-->
    <!--映射文件中的占位符等价于jdbc中sql的占位符 ？,有2种：
      #{}:以字符串形式输出自动加引号
      ${}:直接原样输出内容不带引号
    -->
    <!--传入参数：
      parameterType：基本类型(int,double...)或引用类型(java.lang.String,com.qgx.www.entity.Choice)
      parameterMap：一般单个实体类的属性无法覆盖所有传入参数时，使用Map集合
    -->
    <!--输出结果：(使用在查询中)
      resultType:接收数据库中查询的数据，当数据库中的表字段和实体类属性一致情况下使用
      resultMap:接收数据库中查询的数据，当数据库中的表字段和实体类属性不一致情况下使用，选择使用映射节点resultMap的id值
    -->

    <!--自定义一个结果类型映射，表名和实体类名映射，表字段和实体类属性映射-->

        <!--属性和表字段映射-->

    <resultMap id="filmMap" type="com.movie.www.entity.Film">
        <id property="fId" column="fId"></id>
        <result property="fileName" column="fileName"></result>
        <result property="fileTypeList" column="fileTypeList"></result>
        <result property="fileTime" column="fileTime"></result>
        <result property="scores" column="scores"></result>
        <result property="releaseDate" column="releaseDate"></result>
        <result property="fileSynopsis" column="fileSynopsis"></result>
        <result property="filePoster" column="filePoster"></result>
        <result property="fileArea" column="fileArea"></result>
        <result property="fileActorList" column="fileActorList"></result>
        <result property="filePrice" column="filePrice"></result>
    </resultMap>
    <!--分页-->
    <!--id为mapper接口方法名-->
    <select id="findFilmByParams" parameterType="map" resultMap="filmMap">
        SELECT * FROM film f
        <choose >
            <when test="film.scores == 0.0">
                <trim  prefix="where"  prefixOverrides="and|or">
                    <if test="film.fileTypeList!=null and film.fileTypeList!=''">AND f.fileTypeList LIKE '%${film.fileTypeList}%'</if>
                    <if test="film.fileArea!=0 ">AND f.fileArea=#{film.fileArea}</if>
                    <if test="film.releaseDate!=null and film.releaseDate!=''">AND f.releaseDate LIKE '%${film.releaseDate}%' </if>
                </trim>
            </when>
            <when test="film.scores == 1.0">
                <where>
                    <if test="film.fileTypeList!=null and film.fileTypeList!=''">AND f.fileTypeList LIKE '%${film.fileTypeList}%'</if>
                    <if test="film.fileArea!=0 ">AND f.fileArea=#{film.fileArea}</if>
                    <if test="film.releaseDate!=null and film.releaseDate!=''">AND f.releaseDate LIKE '%${film.releaseDate}%' </if>
                </where>
                ORDER BY f.scores DESC
            </when>
            <when test="film.scores == 2.0">
                <where>
                    <if test="film.fileTypeList!=null and film.fileTypeList!=''">AND f.fileTypeList LIKE '%${film.fileTypeList}%'</if>
                    <if test="film.fileArea!=0 ">AND f.fileArea=#{film.fileArea}</if>
                    <if test="film.releaseDate!=null and film.releaseDate!=''">AND f.releaseDate LIKE '%${film.releaseDate}%' </if>
                </where>
                ORDER BY f.releaseDate DESC
            </when>
        </choose>
        limit #{pageNo},#{pageSize}
    </select>
    <!--总记录数-->
    <select id="findCount" resultType="int" parameterType="com.movie.www.entity.Film">
        SELECT count(1)  FROM film f
        <trim prefix="where" prefixOverrides="and|or">
            <if test="fileTypeList!=null and fileTypeList!=''">AND f.fileTypeList LIKE '%${fileTypeList}%' </if>
            <if test="fileArea!=0">AND f.fileArea=#{fileArea} </if>
            <if test="releaseDate!=null and releaseDate!=''">AND f.releaseDate LIKE '%${releaseDate}%' </if>
        </trim>
    </select>
    <select id="findFilmById" parameterType="int" resultType="com.movie.www.entity.Film">
        SELECT * FROM film f WHERE f.`fId`=#{fId}
    </select>


</mapper>