<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--定义命名空间-->
<mapper namespace="com.movie.www.mapper.FilmRankMapper">
<select id="selectByScore" resultType="com.movie.www.bean.ApartFilm">
SELECT  f.`fileActorList`,f.`fileName`, f.`releaseDate`, f.`filePoster`, f.`scores`,f.`fId`
FROM film f WHERE DATEDIFF(CURRENT_DATE,releaseDate) &gt; 0 and scores!=0 ORDER BY scores DESC LIMIT 0,10
</select>
<select id="selectByPrice" resultType="com.movie.www.bean.ApartFilm">
    SELECT  f.`fileActorList`,f.`fileName`, f.`releaseDate`, f.`filePoster`, f.`filePrice`,f.`fId`
    FROM film f WHERE DATEDIFF(CURRENT_DATE,releaseDate) &lt;0 ORDER BY filePrice DESC LIMIT 0,10
</select>
</mapper>