<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--定义命名空间-->
<mapper namespace="com.movie.www.mapper.PlatoonMapper">
    <!--id：属性等价于接口中的方法名-->
    <!--映射文件中的占位符等价于jdbc中sql的占位符 ？,有2种：
      #{}:以字符串形式输出自动加引号
      ${}:直接原样输出内容不带引号
    -->
    <!--传入参数：
      parameterType：基本类型(int,double...)或引用类型(java.lang.String,com.qgx.www.entity.Choice)
      parameterMap：一般单个实体类的属性无法覆盖所有传入参数时，使用Map集合
    -->
    <!--输出结果：(使用在查询中)
      resultType:接收数据库中查询的数据，当数据库中的表字段和实体类属性一致情况下使用
      resultMap:接收数据库中查询的数据，当数据库中的表字段和实体类属性不一致情况下使用，选择使用映射节点resultMap的id值
    -->

    <!--自定义一个结果类型映射，表名和实体类名映射，表字段和实体类属性映射-->

        <!--属性和表字段映射-->
    <!--增加排片-->
    <insert id="addPlatoon" parameterType="com.movie.www.entity.Platoon">
        INSERT INTO platoon(pId,hallNo,fId,playDate,piayTime)
        VALUES (#{pId},#{hallNo},#{fId},#{playDate},#{piayTime})
    </insert>
    <!--//更新-->
    <update id="updatePlatoon" parameterType="com.movie.www.entity.Platoon" >
        UPDATE platoon p
        <trim prefix="set" suffixOverrides=",">
            <if test="pId!=null and pId!='' and pId!=0 "> p.pId =#{pId},</if>
            <if test="hallNo!=null and hallNo!='' and hallNo!=0"> p.hallNo =#{hallNo},</if>
            <if test="playDate!=null and playDate!='请输入放映日期'">p.playDate =#{playDate},</if>
            <if test="piayTime!=null and piayTime!='请输入放映时间'">p.piayTime=#{piayTime},</if>
       </trim>
        <trim prefix="where" prefixOverrides="and|or">
            <if test="pId!=null">and p.pId =#{pId}</if>
        </trim>
    </update>
    <!--删除-->
    <delete id="delPlatoon" parameterType="com.movie.www.entity.Platoon">
        DELETE FROM platoon  WHERE pId=#{pId}
    </delete>
    <!--总记录数-->
    <select id="findCount" resultType="int" parameterType="com.movie.www.entity.Platoon">
        SELECT count(1) FROM platoon p
        <trim prefix="where" prefixOverrides="and|or">
            <if test="pId!=null and pId!=''and pId!=0 ">and p.pId =#{pId}</if>
            <if test="hallNo!=null and hallNo!=''and hallNo!=0">and p.hallNo =#{hallNo}</if>
            <if test="fId!=null and fId!=''and fId!=0">and p.fId =#{fId}</if>
            <if test="playDate!=null and playDate!='' and playDate!='请输入放映日期'">and p.playDate =#{playDate}</if>
            <if test="piayTime!=null and piayTime!='' and piayTime!='请输入放映时间'">and p.piayTime =#{piayTime}</if>
        </trim>
    </select>
    <!--分页列表-->
    <select id="findListByPage" parameterType="map" resultType="com.movie.www.entity.Platoon">
        SELECT * FROM platoon p
        <trim prefix="where" prefixOverrides="and|or">
            <if test="platoon.pId!=null and platoon.pId!=''and platoon.pId!=0 ">and p.pId =#{platoon.pId}</if>
            <if test="platoon.hallNo!=null and platoon.hallNo!=''and platoon.hallNo!=0">and p.hallNo =#{platoon.hallNo}</if>
            <if test="platoon.fId!=null and platoon.fId!=''and platoon.fId!=0">and p.fId =#{platoon.fId}</if>
            <if test="platoon.playDate!=null and platoon.playDate!='' and  platoon.playDate!='请输入放映日期'">and p.playDate =#{platoon.playDate}</if>
            <if test="platoon.piayTime!=null and platoon.piayTime!='' and platoon.piayTime!='请输入放映时间'">and p.piayTime =#{platoon.piayTime}</if>
        </trim>
        limit #{startIndex},#{pageSize}
    </select>
</mapper>