<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.movie.www.mapper.UserInfoMapper">

<select id="findUserByPhoneAndPassword" parameterType="com.movie.www.entity.UserInfo" resultType="com.movie.www.entity.UserInfo" >
    SELECT *  from userinfo WHERE phone=#{phone} and password=#{password}
</select>
<insert id="addUserInfo" parameterType="com.movie.www.entity.UserInfo" >
INSERT INTO `userinfo` (userName,phone,`password`) VALUES (#{userName},#{phone},#{password})
</insert>
<select id="findUserByPhone" parameterType="com.movie.www.entity.UserInfo" resultType="com.movie.www.entity.UserInfo">
    SELECT *  from userinfo WHERE phone=#{phone}
</select>
    <update id="updateUserInfoByUid" parameterType="com.movie.www.entity.UserInfo">
        UPDATE `userinfo` u SET u.`userName`=#{userName},u.`sex`=#{sex},u.`birthday`=#{birthday},u.portrait=#{portrait} WHERE u.`uId`=#{uId}
    </update>
    <select id="findUserInfoByUid" parameterType="com.movie.www.entity.UserInfo" resultType="com.movie.www.entity.UserInfo">
        SELECT *  from userinfo WHERE uId=#{uId}
    </select>
</mapper>